<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488709863506-eg7fe2e1ks7kttcjqoa1b9oe3s85q8ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488709863506-eg7fe2e1ks7kttcjqoa1b9oe3s85q8ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAPwpYq9CsohJR4yYm0GRwxHQaR-r8aQd8</string>
	<key>GCM_SENDER_ID</key>
	<string>488709863506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practiceProject</string>
	<key>PROJECT_ID</key>
	<string>claruswayfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>claruswayfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488709863506:ios:2c4f0a10d03b9ab48c478b</string>
	<key>DATABASE_URL</key>
	<string>https://claruswayfirebase.firebaseio.com</string>
</dict>
</plist>